@page "/"
@inject HttpClient Http


<h3>Dashboard</h3>
<p>Resumo rápido e cards com dados da API.</p>


<MudGrid>
<MudItem xs="12" sm="6" md="4">
<MudPaper Class="pa-4">
<h4>Atividades</h4>
<p>Exemplo de card dinâmico.</p>
</MudPaper>
</MudItem>
</MudGrid>
